* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: aqua;
    text-align: center;
    height: 10vh;
    padding-top: 25px;
}

#sidebar {
    background-color: cadetblue;
    width: 40vw;
    height: 60vh;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    margin: 5px 0 5px 0;
}

#maincontent {
    float: right;
    background-color: cadetblue;
    height: 60vh;
    width: 58vw;
    text-align: center;
    padding-top: 10px;
    margin: 5px 0 5px 0;
}

#footer {
    height: 20vh;
    background-color: aqua;
    text-align: center;
    padding: 5px;
}